{% extends 'layout.html' %}

{% block title %}
    <title>All Leads</title>
{% endblock %}

{% block content %}
    <h1 style="text-align: center;">All Leads</h1>
    <table class="table table-dark">
        <tr>
            <th>Lead ID</th>
            <th>Lead Date</th>
            <th>Lead Stage</th>
            <th>Lead Action</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Mobile No.</th>
            <th>Alternate No.</th>
            <th>Email</th>
            <th>Permanent Address</th>
            <th>Current Address</th>
            <th>Highest Qualification</th>
            <th>Stream/Branch</th>
            <th>Year of Passing</th>
            <th>Course Type</th>
            <th>Course Mode</th>
            <th>Course Name</th>
            <th>Current Status</th>
        </tr>
        {% for lead in leads %}
            <tr>
                <td>{{lead.id}}</td>
                <td>{{lead.date}}</td>
                <td>{{lead.type_of_lead}}</td>
                <td>{{lead.lead_stage}}</td>
                <td>{{lead.lead_action_took}}</td>
                <td>{{lead.first_name}}</td>
                <td>{{lead.last_name}}</td>
                <td>{{lead.mobile_number}}</td>
                <td>{{lead.mobile_number2}}</td>
                <td>{{lead.email}}</td>
                <td>{{lead.permanent_address}}</td>
                <td>{{lead.current_address}}</td>
                <td>{{lead.highest_qualification}}</td>
                <td>{{lead.stream}}</td>
                <td>{{lead.year_of_passing}}</td>
                <td>{{lead.type_of_course}}</td>
                <td>{{lead.mode_of_course}}</td>
                <td>{{lead.course_interested}}</td>
                <td>{{lead.current_status_notes}}</td>
                <td>
                    <a href="">
                        <button class="btn btn-danger">Delete</button>
                    </a>
                </td>
                <td><a href=""><button class="btn btn-warning">Update</button></a></td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'generate_lead' %}">
        <button class="btn btn-success">Generate Lead</button>
    </a>
{% endblock %}