{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Add Category</title>
{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Add Category</h1>
    <div class="container" style="width: 55%;">
        <form method="post" class="jumbotron">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Add Category" class="btn btn-primary">
            <a href="{% url 'show_leads' %}">
                <input type="button" value="Cancel" class="btn btn-danger">
            </a>
        </form>
    </div>
{% endblock %}