{% extends 'layout.html' %}

{% block title %}
    <title>All Tasks</title>
{% endblock %}

{% block content %}
    <h1 style="text-align: center;">All Tasks</h1>
    <table class="table table-dark table-striped">
        <tr>
            <th>ID</th>
            <th>Created At</th>
            <th>Category</th>
            <th>Task</th>
            <th>Content</th>
            <th>Due Date</th>
        </tr>
        {% for task in object_list %}
            <tr>
                <td>{{task.id}}</td>
                <td>{{ task.created|date:"d/m/Y G:i" }}</td>
                <td>{{task.category}}</td>
                <td>{{task.title}}</td>
                <td>{{task.content}}</td>
                <td>{{task.due_date|date:"d/m/Y G:i"}}</td>
                <td>
{#                    <a href="{% url 'update_task' task.id %}">#}
                    <a href="">
                        <button class="btn btn-warning">Update</button>
                    </a>
                </td>
                <td>
{#                    <a href="{% url 'delete_task' task.id %}">#}
                    <a href="">
                        <button class="btn btn-danger">Delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <div style="text-align: center;">

        <a href="{% url 'add_category' %}">
            <button class="btn btn-success">Add Category</button>
        </a>
    </div>
{% endblock %}