{% extends 'layout.html' %}

{% block title %}
    <title>All Tasks</title>
{% endblock %}

{% block content %}
    <h1 style="text-align: center;">All Tasks</h1>
    {% if object_list %}
        <table class="table table-dark table-striped">
            <tr>
                <th>ID</th>
                <th>Created At</th>
                <th>Category</th>
                <th>Task</th>
                <th>Details</th>
                <th>Due Date</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for task in object_list %}
                <tr>
                    <td>{{task.id}}</td>
                    <td>{{ task.created|date:"d/m/Y G:i" }}</td>
                    <td>{{task.category}}</td>
                    <td>{{task.title}}</td>
                    <td>{{task.details}}</td>
                    <td>{{task.due_date_time|date:"d/m/Y G:i"}}</td>
                    <td>
                        <a href="{% url 'update_task' task.id %}">
                            <button class="btn btn-warning">Update</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'delete_task' task.id %}">
                            <button class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <div style="text-align: center;">
            <a href="{% url 'add_task' %}">
                <button class="btn btn-success">Add Task</button>
            </a>
        </div>
    {% else %}
        <div class="container" style="width: 55%;">
            <div style="text-align: center;" class="jumbotron">
                <p>No tasks added as of now, go ahead and add few...</p>
                <br>
                <a href="{% url 'add_task' %}">
                    <button class="btn btn-success">Add Task</button>
                </a>
            </div>
        </div>

    {% endif %}
{% endblock %}